---
import Layout from "./Layout.astro"
---

<Layout title="">
    <div class="prose prose-stone bg-slate-300 flex flex-col mx-auto px-16 pt-5 pb-16 prose-h1:text-center rounded mt-5">
        <slot />
    </div>
</Layout>

