---
import Section from '../layouts/Section.astro'
---
<Section>
    <ol id="sections">
        <li><a href="/sections/abstract">Abstract</a></li>
        <li><a href="/sections/introduction">Introduction</a></li>
        <li><a href="/sections/architecture">Architecture</a></li>
        <li><a href="/sections/setting_up_the_environment">Setting Up the Environment</a></li>
        <li><a href="/sections/directory_structure">Directory Structure</a></li>
        <li><a href="/sections/data_flow">Data Flow</a></li>
        <li><a href="/sections/backend">Backend</a></li>
        <li><a href="/sections/frontend">Frontend</a></li>
        <li><a href="/sections/database">Database</a></li>
        <li><a href="/sections/authentication_and_authorization">Authentication and Authorization</a></li>
        <li><a href="/sections/third-party_services">Third-Party Services</a></li>
        <li><a href="/sections/testing">Testing</a></li>
        <li><a href="/sections/deployment">Deployment</a></li>
        <li><a href="/sections/scaling_and_performance">Scaling and Performance</a></li>
        <li><a href="/sections/troubleshooting_and_debugging">Troubleshooting and Debugging</a></li>
        <li><a href="/sections/conclusion">Conclusion</a></li>
        <li><a href="/sections/references">References</a></li>
        <li><a href="/sections/appendices">Appendices</a></li>
        <li><a href="/sections/acknowledgments">Acknowledgments</a></li>
    </ol>
</Section>
